.box-btnprod-aum{
    display: flex;
    justify-content: center;
}

.box-btnprod{
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-rest{
    background-color: rgb(187, 224, 253);
    border: none;
    width: 30%;
    font-size: 15px;
    color: #0088ff;
    padding: 5px;
    font-family: sans-serif;
    font-weight: 800;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.btn-sum{
    background-color: rgb(187, 224, 253);
    border: none;
    width: 30%;
    padding: 5px;
    font-size: 15px;
    color: #0088ff;
    font-family: sans-serif;
    font-weight: 800;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.span-num-prod{
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 5px;
    font-weight: 600;
}